<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="clopema">
	<xacro:include filename="$(find clopema_description)/urdf/common.urdf.xacro" />	
	<xacro:include filename="$(find clopema_description)/urdf/room_ctu.urdf.xacro" />	
	<xacro:include filename="$(find clopema_description)/urdf/room_unige.urdf.xacro" />	
	<xacro:include filename="$(find clopema_description)/urdf/base_link.urdf.xacro" />	
	<xacro:include filename="$(find clopema_description)/urdf/ma1400/ma1400.urdf.xacro" />	
	<xacro:include filename="$(find clopema_description)/urdf/gripper.urdf.xacro" />	
	<xacro:include filename="$(find clopema_description)/urdf/r750.urdf.xacro" />	
	<xacro:include filename="$(find clopema_description)/urdf/table.urdf.xacro" />	
	<xacro:include filename="$(find clopema_description)/urdf/colObjects.urdf.xacro" />	
    <xacro:include filename="$(find clopema_description)/urdf/robot_head_UG.xacro" />

	<xacro:base_link/>
	<xacro:room_unige/>
	<link name="unige_beam">
		<xacro:default_inertial/>
		<visual>
			<geometry>
				<box size="2.000 0.500 0.3"/>
			</geometry>
			<origin xyz="0.0 0.0 0.0"/>
			<material name="grey"/>
		</visual>
		<collision>
			<geometry>
				<box size="2.000 0.500 0.3"/>
			</geometry>
			<origin xyz="0.0 0.0 0.0"/>
		</collision>
	</link>
	<joint name="unige_f_beam" type="fixed">
		<origin xyz="0.0 0 2.15" rpy="0 0 0"/>
		<parent link="base_link"/>
		<child link="unige_beam"/>
	</joint>
	
	<xacro:table parent="base_link" suffix="front" color="green" height="0.60">
		<origin xyz="0 0 0" rpy="0 0 0"/>
	</xacro:table>
	
	<xacro:ma1400 parent="unige_beam" suffix="r1_" color="blue">
		<origin xyz="0 0 -0.151" rpy="${PI} 0 ${PI/2}"/>
	</xacro:ma1400>

	<xacro:gripper parent="tip_link" suffix="r1_" color="blue">
		<origin xyz="0.000 0 0.02" rpy="0 0 ${PI/2+PI/6}"/>
	</xacro:gripper>

	<xacro:r750 parent="base_link" suffix="" color="blue">
		<origin xyz="5.0 0.0 0.0" rpy="0 0 0"/>
	</xacro:r750>
	<xacro:ma1400 parent="r750" suffix="r2_" color="blue">
		<origin xyz="0 .25 0.1600" rpy="-${15*TO_RAD} 0 0"/>
	</xacro:ma1400>
	<xacro:gripper parent="tip_link" suffix="r2_" color="blue">
		<origin xyz="0.000 0 0.02" rpy="0 0 ${PI/2+PI/6}"/>
	</xacro:gripper>

    <xacro:robot_head parent="r750">
        <origin rpy="0 0 0" xyz="-0.45 0.15 1.68"/>
    </xacro:robot_head>

        <link name="torso_link"/>
        <joint name="torso_link_f" type="fixed">
                  <child link="torso_link"/>
                  <parent link="r750"/>
                  <origin xyz="0 0 -0.51" rpy="0 0 ${PI/2}"/>
        </joint>

	<xacro:colObjects/>
</robot>
