<?xml version="1.0"?>
<!--
This launch file will start necessary components to run the virtual robot.
Optionally it will start other robot peripheries.

Libor Wagner and Vladimir Petrík on July 19, 2013
-->
<launch>
    <arg name="rviz" default="true"/>
    <arg name="foveated" default="false"/>

    <!-- Robot ip address -->
    <arg name="run_grippers" default="false"/>
    <arg name="run_rh" default="false"/>

    <!-- Override the standard configuration -->
    <arg name="override" value="0" />

    <!-- Include CloPeMa configuration. -->
    <include file="$(find clopema_config)/launch/clopema.launch" />
    
    <include file="$(find clopema_controller)/launch/start_controller.launch"/>
    
    <include file="$(find clopema_shadow_moveit_config)/launch/moveit_planning_execution.launch">
        <arg name="rviz" value="$(arg rviz)"/>
    </include>
    
    <!-- Gripper interface -->
    <include if="$(arg run_grippers)" file="$(find clopema_gripper)/launch/start_gripper_$(optenv CLOPEMA_PARTNER error).launch"/>
    <include unless="$(arg run_grippers)" file="$(find clopema_gripper)/launch/virtual_gripper.launch" />
    
    <!-- RH ptu interface - virtual RH is necessary for model to load. -->
    <include file="$(find clopema_ptu)/launch/virtual_ptu.launch"/>
    <include if="$(arg run_rh)" file="$(find rh_ptu)/launch/RH_ptu_launch.launch">
        <arg name="foveated" value="$(arg foveated)"/>
    </include>

</launch>
