<?xml version="1.0"?>
<!--
This launch file will start necessary components to run the virtual robot.
Optionally it will start other robot peripheries.

Libor Wagner and Vladimir Petrík on July 19, 2013
-->
<launch>
    <arg name="rviz" default="true"/>

    <!-- Override the standard configuration -->
    <arg name="override" value="0" />
    <arg name="run_rh" default="false"/>

    <!-- Include CloPeMa configuration. -->
    <include file="$(find clopema_config)/launch/clopema.launch" />
    
    <include file="$(find clopema_controller)/launch/virtual_controller.launch" />
    <include file="$(find clopema_ptu)/launch/virtual_ptu.launch" />
    <include file="$(find clopema_gripper)/launch/virtual_gripper.launch" />
    
    <include file="$(find clopema_shadow_moveit_config)/launch/moveit_planning_execution.launch">
        <arg name="rviz" value="$(arg rviz)"/>
    </include>
    
    <!-- RH ptu interface - virtual RH is necessary for model to load. -->
    <include file="$(find rh_ptu)/launch/RH_ptu_launch.launch" if="$(arg run_rh)" />

</launch>
