<?xml version="1.0"?>
<launch>
 
  <!-- the "sim" argument controls whether we connect to a Simulated or Real robot -->
  <arg name="rviz" default="true" />
  <arg name="output" default="screen" />

  <rosparam command="load" file="$(find clopema_shadow_moveit_config)/config/kinematics.yaml"/>
  <!-- load the robot_description parameter before launching ROS-I nodes -->
  <include file="$(find clopema_shadow_moveit_config)/launch/planning_context.launch" >
    <arg name="load_robot_description" value="true" />
  </include>

  <!-- publish the robot state (tf transforms) -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"  output="$(arg output)"/>

  <include file="$(find clopema_shadow_moveit_config)/launch/move_group.launch">
    <arg name="publish_monitored_planning_scene" value="true" />
  </include>

  <include file="$(find clopema_shadow_moveit_config)/launch/moveit_rviz.launch" if="$(arg rviz)">
    <arg name="config" value="true"/>
  </include>
  
  <include file="$(find clopema_moveit)/launch/grasping.launch" />

  <!-- Set dynamic reconfigure parameters for moveit -->
  <node name="$(anon dynparam_execution_duration_monitoring)" pkg="dynamic_reconfigure" type="dynparam" args="set_from_parameters move_group/trajectory_execution">
    <param name="execution_duration_monitoring" type="bool" value="false" />
  </node>

  <node name="$(anon dynparam_maximum_waypoint_distance)" pkg="dynamic_reconfigure" type="dynparam" args="set_from_parameters move_group/ompl">
    <param name="maximum_waypoint_distance" type="double" value="0.05" />
  </node>

  <node name="$(anon dynparam_simplify_solutions)" pkg="dynamic_reconfigure" type="dynparam" args="set_from_parameters move_group/ompl">
    <param name="simplify_solutions" type="bool" value="false" />
  </node>
</launch>
