<?xml version="1.0"?>
<!--
This is a CVUT specific configuration launch file.

Libor Wagner on February  8, 2013
-->
<launch>
    <!-- Machines describes the addresses and names of the used ROS machines. -->
    <machine name="clopema1" address="clopema1" user="ros"/>
    <machine name="clopema2" address="clopema2" user="ros" env-loader="/home/ros/env_hydro.sh"/>
    <machine name="clopema3" address="clopema3" user="ros" env-loader="/home/ros/env_hydro.sh"/>
    <machine name="kinect1"  address="kinect1"  user="ros" env-loader="/home/ros/env_hydro.sh"/>
    <machine name="toradex1" address="toradex1" user="ros" env-loader="/home/ros/env.sh"/>
    <machine name="robothead_pc"  address="kinect1"  user="ros" env-loader="/home/ros/env_hydro.sh"/>

    <!-- Include configuration file which then distributes the parameters. -->
    <include file="$(find clopema_config)/launch/clopema_config.launch" >
        <arg name="robot_ip" value="192.168.0.101"/>
        <arg name="r1_xtion_port" value="1@0"/>
        <arg name="r2_xtion_port" value="1@0"/>
        <arg name="r3_xtion_port" value="2@0"/>
        <arg name="r1_gripper_inverted" value="true"/>
        <arg name="r2_gripper_inverted" value="true"/>
        <arg name="rosi_use_ros_time" value="false"/>
    </include>
    
    <!-- Planner which will be used in Robot Commander -->
    <param name="/clopema_planner" value="RRTConnectkConfigDefault"/>
    <!--
    <param name="/clopema_planner" value="RRTstarmoddedkConfigDefault"/>
    -->
</launch>
