<?xml version="1.0"?>
<!--
This is a UG specific configuration launch file.

Libor Wagner on February  8, 2013

Edited:
Gerardo Aragon on May 17, 2013
-->
<launch>
    <!-- Machines describes the addresses and names of the used ROS machines. -->
    <machine name="clopema1" address="mokil" user="$(optenv USER ros)" default="true" env-loader="/home/ros/env.sh"/>
    <machine name="clopema3" address="mokil" user="$(optenv USER ros)" default="true" env-loader="/home/ros/env.sh"/>
    <machine name="kinect1" address="mokil" user="$(optenv USER ros)" default="true" env-loader="/home/ros/env.sh"/>
    <machine name="robothead_pc" address="mokil" user="$(optenv USER ros)" default="true" env-loader="/home/ros/env.sh"/>
    
    <param name="/clopema_planner" value="RRTConnectkConfigDefault"/>

	<!-- Include configuration file which then distributes the parameters. -->
    <include file="$(find clopema_config)/launch/clopema_config.launch" >
        <arg name="robot_ip" value="130.209.247.40"/>
        <arg name="r1_xtion_port" value="2@0"/>
        <arg name="r2_xtion_port" value="1@0"/>
        <arg name="r3_xtion_port" value="3@0"/>
        <arg name="r1_gripper_inverted" value="true"/>
        <arg name="r2_gripper_inverted" value="true"/>
    </include>

    <!-- -->
</launch>
