<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"> 
    <xacro:macro name="toradex" params="*origin parent color prefix"> 
        <link name="${prefix}toradex">
            <xacro:default_inertial/>
            <visual>
                <geometry>
                    <box size="0.13 0.15 0.07" />
                </geometry>
                <material name="${color}" />
                <origin xyz="0 0 0"/>
            </visual>
            <collision>
                <geometry>
                    <box size="0.13 0.15 0.07" />
                </geometry>
                <origin xyz="0 0 0"/>
            </collision>
        </link>
        <joint name="joint_f_${prefix}toradex" type="fixed">
            <xacro:insert_block name="origin" />
            <parent link="${parent}"/>
            <child link="${prefix}toradex"/>
        </joint>
    </xacro:macro>
</robot>
