<?xml version="1.0"?>
<launch>
    <arg name="run_gmm" default="true" />
    <arg name="run_xtion" default="true" />

    <include file="$(find clopema_launch)/launch/xtion1.launch" if="$(arg run_xtion)"/>
    <node pkg="clopema_segmentation" type="segmentation_gc_gmm_service" name="segmentation_service" output="screen" if="$(arg run_gmm)" />

    <node pkg="clopema_model_fitting" type="clopema_garment_fit" name="clopema_garment_fit" output="screen"/>
    <node pkg="clopema_folding" name="stria_folding_server" type="stria_folding_server" output="screen">
        <remap from="/camera" to="/xtion1/rgb/image_raw"/>
    </node>
</launch>
